* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

h1 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.content-section h3 {
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.inputs {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.separation-line {
  width: 15%;
  border: solid 2px black;
  margin: 36px auto;
}

#book-list-container {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

.list-container {
  list-style-type: none;
  padding: 0;
}

.list-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.list-container li:nth-child(odd) {
  background-color: #fff;
  color: #333;
}

.list-container p {
  margin: 0;
}

.list-container button {
  margin-left: auto;
  box-shadow: 3px 3px;
}

.even {
  background-color: grey;
}
